table{
    border-collapse: collapse;
    text-align: center;
}
  
th, td, caption {
    border: 1px solid black;
    padding: 10px;
}

caption {
    background-color: #D3D3D3;
    font-weight: bold;
}

thead th{
    background-color: #ffffff;
    font-weight: bold;
}


th[scope="row"] {
    background-color: #D3D3D3;
    font-weight: normal;
}


table tr:nth-of-type(odd)  {
    background-color:#a1d9e6 ;
}    

table tr:nth-of-type(even)  {
    background-color: #72ed87;
}  

tfoot > tr > td {
    background-color: #ffffff!important;
    font-style: italic;
  
}